/* body{
    background-color: black;
} */


 nav {
    height: 2rem;
  }
   /* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  } */
  
    nav ul li {
    flex-grow: 1;
    display: flex;
    
  }