body {
  font-family: sans-serif;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}


#postForm{
  padding-top: 20px;
}

#post-container{


  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1 fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  padding-left: 30px;
  /* justify-content: space-evenly; 
  align-content: space-evenly; */
  
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
  background-size: cover;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#update-button{
  margin-top: 15px;
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#open-modal-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  
  display: flex; 
  margin: auto;
  margin-left: 30px;
  margin-top: 30px;

}


/* Add styles for the "View Comments" button */
.view-comments-btn {
  /* background-color: black; */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

