body {
  font-family: sans-serif;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}


#postForm{
  padding-top: 20px;
}

#post-container{
  display: flex;
  justify-content: space-around;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
  background-size: cover;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#update-button{
  margin-top: 15px;
  margin-left: 10px;
}

